<!-- just to test -->

<%- include ("header") -%>

<h2>This is the about page</h2>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime sint deserunt
  beatae a adipisci error voluptatum quae aspernatur porro similique? Maiores,
  alias reprehenderit. Rerum perspiciatis excepturi exercitationem, a laudantium
  commodi facere, officiis, corrupti praesentium possimus dicta doloremque porro
  aut facilis!
</p>

<%- include ("footer") -%>
